section {
  /* border: 1px solid black; */
}

header {
  height: 200px;
  display: flex;
  /* 정렬하고자 하는 요소의 부모한테 flex -> 내부 요소를 유연하게 정렬 배치*/
}

header > section:nth-child(1) {
  flex-basis: 15%; /* flex 있을때만 사용가능  width 같은 기능 */
}

header > section:nth-child(2) {
  flex-basis: 70%; /* flex 있을때만 사용가능  width 같은 기능 */
  margin: 0 30px;
}

header > section:nth-child(3) {
  flex-basis: 15%; /* flex 있을때만 사용가능  width 같은 기능 */
}

header > section:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 로고 */
#main-logo {
  width: 120px;
  border-radius: 5%;
}

/* 검색 스타일 */
header > section:nth-child(2) {
  display: flex;
  justify-content: center; /* 좌우 정렬 */
  align-items: center; /* 상하 정렬 */
}

.search-area {
  width: 500px;
}

.search-area fieldset {
  border: 2px solid #ccc;
  margin: 0;
  padding: 7px;
  border-radius: 5px;
  display: flex;
}

#query {
  width: 90%;
  font-size: 20px;
  border: none;

  outline: 0; /* none도 가능 */
  /* outline - input 태그에 포커스가 맞춰졌을 떄 바깥선??? */
}

#search-btn {
  width: 10%;
  font-size: 1em; /* 1.1배 */
  background-color: white;
  color: #444;
}

/* nav */
nav {
  border-bottom: 2px solid black;
  height: 50px;
}

nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; /* 부모의 100% */
}

nav > ul > li {
  flex-basis: 150px;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: block; /* text-align: center를 사용하기 위한 전환 */
  text-align: center;
  height: 100%;
  /* padding: 12px 0; 고민 */
  line-height: 45px; /* ??? */
}
nav a:hover {
  background-color: #444;
  color: white;
  height: 50px;
  border-radius: 10px;
}

.content {
  display: flex;
  height: 750px;
  margin: 20px;
}

.content div:nth-child(1) {
  flex-basis: 70%;
}

.content div:nth-child(2) {
  flex-basis: 30%;
}

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* flex를 세로로 사용하기 위한 것 (column : 열) */
  background-color: #444;
  color: white;
}

footer > p {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: white;
}

footer span {
  padding: 0 10px;
}
